<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/css/sidebars.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
        .b-example-divider {
            height: 3rem;
            background-color: #E8E9EE;
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .button {
            border-radius: 25px;
            width: 250px;
            height: 50px;
            font-weight: bold;
        }

        .tabelform {
            background-color: #E8E9EE;
            overflow-y: scroll;
        }
    </style>

</head>

<body>
    <main class="d-flex flex-nowrap vw-100">
        <!-- slides bar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 side" style="width: 300px;">
            <ul class="nav nav-pills flex-column mb-auto">
                <br>
                <h2 class="text-align text-white fw-semibold"> &nbsp; Study In</h2>
                <hr class="text-white">
                <li>
                    <a href="/form/home "
                        class="nav-link active bg-light list-group-item-action list-group-item-light p-2.8 text-dark fw-bold ">
                        <i class="bi bi-houses"></i>
                        Home
                    </a>
                </li>
                <br>
                <li>
                    <a href="/form/listMyForm"
                        class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-folder2-open"></i>
                        My Form
                    </a>
                </li>
                <br>
                <li>
                    <a href="/form/formSubmission"
                        class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                        Submission
                    </a>
                </li>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <hr class="text-white">
                <li>
                    <a href="/user/profile"
                        class="nav-link list-group-item-action list-group-item-dark p-2.8 text-white fw-bold">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="/auth/login"
                        class="nav-link list-group-item-action list-group-item-dark p-2.8 text-white fw-bold">
                        <i class="bi bi-box-arrow-right"></i>
                        LogOut
                    </a>
                </li>
            </ul>
        </div>
        <!-- end slide bar -->

        <div class="b-example-divider b-example-vr p-1 table" style="width:84.98%" >
            <div class="ms-1 ">
                <div class="row">
                    <div class="col data ms-5" style="height: 700px;">
                        <table class=" mt-3">
                            <tr>
                                <td class="w-50">
                                    <br>
                                    <h3 class="text-left my-1 text-dark fw-semibold mb-3">Welcome to StudyIn !</h3>
                                    <h5 class="text-left my-1 text-dark fw-normal mb-3">This is where you will see
                                        updates from your
                                        study.</h5>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <br>
                            <a href="/form/addForm"><button type="button" class="button btn btn-primary btn-lg"
                                    type="button">+ Add New</button></a>
                        </table>

                        <% if (data && data.length > 0) { %>

                            <% data.forEach((item, index) => { %>
                            <table class="border bg-light shadow mt-5 w-50 tableForm" style="border-radius: 50px;" form_id="<%= item.form_id %>" tittle="<%= item.tittle %>" user_id="<%= item.user_id %>" created_at="<%= item.created_at %>" description="<%= item.description %>">
                            <tbody>
                            <tr>
                                <td class="pt-3 pe-5 ps-5">
                                    <h3 class="fw-bold"><%= item.nama %></h3>
                                    <p><%= item.created_at %></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="pt-2 pe-5 ps-5">
                                    <h2 style="margin-bottom: 30px;"><%= item.tittle %></h2>
                                    <p style="font-weight: 500; margin-top: 5px;">Instructions :</p>
                                    <p style="font-size: large;"><%= item.description %></p>
                                    <!-- href="/submission/upload" -->
                                    <a><button type="button" class="btn btn-dark btnTurnIn"
                                        style="border-radius: 25px; width: 125px; margin-bottom: 50px;">Turn In</button></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            <% }); %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <!-- <script src="/assets/js/sidebars.js"></script> -->
    <script>
    //    tableForm = document.getElementsByClassName('tableForm')
    //    for (let index = 0; index < tableForm.length; index++) {
    //     const btnTurnIn = document.getElementsByClassName('btnTurnIn')
    //     btnTurnIn[index].addEventListener('click', async function(){
    //         tableForm.getAttribute('title')
    //         tableForm.getAttribute('nama')
    //         tableForm.getAttribute('created_at')
    //         tableForm.getAttribute('description')

            
    //     })
    //    }

    const btnTurnIn = document.getElementsByClassName('btnTurnIn')
    
    for (let index = 0; index < btnTurnIn.length; index++) {
        btnTurnIn[index].addEventListener('click', async function (){
            const tableForm = document.getElementsByClassName('tableForm')
            const form_id = tableForm[index].getAttribute('form_id')
            const tittle = tableForm[index].getAttribute('tittle')
            const user_id = tableForm[index].getAttribute('user_id')
            const created_at = tableForm[index].getAttribute('created_at')
            const description = tableForm[index].getAttribute('description')

            const response = await fetch(`http://localhost:3000/submission/upload/${form_id}`,{
                method: 'GET',
                body: JSON.stringify({
                    //form_id: form_id,
                    // tittle:tittle,
                    // user_id:user_id,
                    // created_at:created_at,
                    // description:description
                })
            })
            const data = response.json()
            if (data.success == true) {
                alert('berhasil')
            } else {
                alert('gagal')
            }
        })
        
    }
    </script>
</body>


</html>